@media only screen and (min-width: 975px) {

#player {
  width: calc(100% - 20px);
  margin: 0 10px;
  text-align: center;
}


/*-------------- Content Formatting --------------*/
/*------------------------------------------------------*/
.shift-txt-tenR {margin-left:10px;}
.shift-txt-15R {margin-left:15px;}
.shift-R22px {margin-right:8px;}
.margin-top-11{ margin-top:86px; float:left;}
.float-right { float: right; margin: 0 0 10px 10px;}
.float-left { float: left; margin: 0 5px 0px 0px;}
.float-left2 { float: left; margin: 7px 5px 0px 0px;}
.adjust-margin-floatLeft{margin-right:0;}
.clear-line { float: left; clear: both;}
.clear-left { float: left; clear: both; margin: 5px 5px 0px 0px;}
.clear-left2 { float: left; clear: both; margin-right: 3px;}
.float-left3 { float: left; padding-top: 5px;}
.txt-float-left { float: left; margin: 0;}
.txt-float-left2 { float: left; margin-left: 5px;}
.txt-float-left3 {width:240px; float: left; margin-left: 5px;}
.txt-float-right { float: right; margin: 0;}
.float-right-margin-10R {margin-right:10px;}
.full-width{width:100%;}
.width50{width:49%;}
.width75{width:75%;}
.zero-float-left{float:left;}
.zero-float-left2{float:left; clear:left;}
.zero-float-right{float:right;}
.zero-clear-line{clear:both;}
.zero-clear-left { clear:left;}
.select-divide{ padding-bottom:3px; border-bottom:1px solid #333333;}
.select-divide2{border-top:1px solid #333333;}
.icon-text{line-height:22px;}
.gridview-text{line-height:28px;}
.icon-vert-pad{padding-top:4px;}
.icon-vert-margin{margin-top:4px;}
.pad10px{margin:10px;}
.pad5px{margin:5px;}
.pad15px{margin:15px;}
.pad30px{margin:0 30px 0 30px;}
.pad10px-top{margin-top:10px;}
.pad5px-top{margin-top:5px;}
.pad5px-btm{padding-bottom:5px;}
.pad10px-btm{padding-bottom:10px;}
.center{margin:0 auto; clear:both;}

/*-------------- Structural Framework --------------*/
/*------------------------------------------------------*/
.legacy p, .legacy div, .legacy li {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px; line-height: 16px; color: #FFFFFF;
}

.content-wrap {
  width:975px;
  z-index:2;
  position:absolute; top:0;
  margin-left:50%; margin-right:50%;
  left:-492px;
  clear:both;
}

.content-inner{
  width:943px;
  margin:5px 16px 8px 16px;
  float:left; clear:both;
}

/*-------------- Index Columns --------------*/
/*------------------------------------------------------*/
/*-------------- Left Column --------------*/
.left-column {
  /*width:269px;*/
  width: 20%;
  float:left;
}
.left-column-confirm{
  width:219px;
  float:left;
}
/*-------------- Center Column --------------*/
.center-column {
  width: 60% !important;
  margin: 0 auto;
  /*float:left;*/
  /*width:392px !important;*/
  /*margin:0 6px 0 6px;*/
}
/*-------------- Right Column --------------*/
.right-column {
  width: 20%;
  /*width:269px;*/
  float:left;
}
/*-------------- Full Column --------------*/
.full-column {
  width: 98% !important;
  margin: 0 auto;
  /*float:left;*/
  /*width:392px !important;*/
  /*margin:0 6px 0 6px;*/
}
/*-------------- Background --------------*/
/*------------------------------------------------------*/
.fix-pgBkgrnd-repeat-x, .fix-img-bkgrnd {
  width:100%; height:100%;
  top:0; left:0;
  float:left;
  clear:both;
  overflow:none;
}
.fix-pgBkgrnd-repeat-x {
  position:fixed; z-index:-2;
  background-image:url(../img/base/bkgrnd-repeat-x.jpg);
  background-position: top left;
  background-repeat:repeat-x;
}
.fix-img-bkgrnd {
  position:absolute; z-index:-1;
  background-position: center 0;
  background-repeat: no-repeat;
}
.fix-img-bkgrnd_01 {
  background-image:url(../img/base/visual-bkgrnd.jpg);
  background-position: center 212px;
}
.fix-img-bkgrnd_02 {
  background-image:url(../img/base/visual-bkgrnd_02.jpg);
  background-position: center 1px;
}
.fix-img-bkgrnd_03 {
  background-image:url(../img/base/visual-bkgrnd_03.jpg);
}
.fix-img-bkgrnd_04 {
  background-image:url(../img/base/visual-bkgrnd_04.jpg);
}
.fix-img-bkgrnd_05 {
  background-image:url(../img/base/visual-bkgrnd_05.jpg);
}
.fix-img-bkgrnd_06 {
  background-image:url(../img/base/visual-bkgrnd_06.jpg);
}
.fix-img-bkgrnd_german_01 {
  background-image:url(../img/base/visual-bkgrnd_german_01.jpg);
}
.pgBkgrnd-repeat-x {
  width:100%; z-index:0;
  float:left; clear:both;
}
.img-bkgrnd {
  width:100%; z-index:2;
  float:left; clear:both;
}

/*-------------- Header --------------*/
/*------------------------------------------------------*/
.legacy-header {
  height:200px;
  margin-top:10px;
  /*background-color:#494949;*/
  margin: 0 auto; padding: 0;
 }

.header {
  width: 975px; height: 157px;
  text-align:center;
  float: left;
}

.headerSpriteNav-wrap {
  width:950px;
  height:170px;
  margin:0 auto;
}

#unity-sprite {
  width: 950px; height: 170px;
  margin: 0; padding: 0;
  position: relative; top: 0px;
}

#unity-sprite span { display: none; }

#unity-sprite li {
  margin: 0; padding: 0; list-style: none;
  position: absolute; top: 0px;
}
#unity-sprite li, #unity-sprite a {
  height: 120px;
  display: block;
  line-height: 48px;
  text-align: right;
}

#unity-nav1 {left: 0px; width: 43px;}
#unity-nav2 {left: 43px; width: 124px;}
#unity-nav3 {left: 167px; width: 124px;}
#unity-nav4 {left: 291px; width: 122px;}
#unity-nav5 {left: 413px; width: 125px;}
#unity-nav6 {left: 538px; width: 124px;}
#unity-nav7 {left: 662px; width: 124px;}
#unity-nav8 {left: 786px; width: 124px;}
#unity-nav9 {left: 910px; width: 40px;}
#unity-nav10 {left: 0; width: 222px;}

#unityETC-sprite {
  width: 222px; height: 22px;
  position: relative; top:0; padding: 0; margin:0 auto;
  margin-top:-50px;
}

#unityETC-sprite span { display: none; }

#unityETC-sprite li {
  margin: 0; padding: 0; list-style: none;
  position: absolute; top: 0px;
}

#unityETC-sprite li, #unityETC-sprite a {
  height: 22px; line-height: 22px;
  display: block;
  text-align: right;
}

/*--- Sprite Nav (English) ---*/
#unity-sprite.ENG { background: url(../img/base/unity-sprite-nav.png); }

#unity-nav1.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) 0px -170px; background-repeat:no-repeat;}
#unity-nav2.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -43px -170px; background-repeat:no-repeat;}
#unity-nav3.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -167px -170px; background-repeat:no-repeat;}
#unity-nav4.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -291px -170px; background-repeat:no-repeat;}
#unity-nav5.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -413px -170px; background-repeat:no-repeat;}
#unity-nav6.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -538px -170px; background-repeat:no-repeat;}
#unity-nav7.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -662px -170px; background-repeat:no-repeat;}
#unity-nav8.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -786px -170px; background-repeat:no-repeat;}
#unity-nav9.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -910px -170px; background-repeat:no-repeat;}

#unityETC-sprite.ENG { background: url(../img/base/unity-sprite-nav.png) -364px -120px no-repeat; }

#unity-nav10.ENG a:hover {background: transparent url(../img/base/unity-sprite-nav.png) -364px -290px; background-repeat:no-repeat;}

/*--- Sprite Nav (French) ---*/
#unity-sprite.FRA { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png); }

#unity-nav1.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) 0px -170px; background-repeat:no-repeat;}
#unity-nav2.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -43px -170px; background-repeat:no-repeat;}
#unity-nav3.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -167px -170px; background-repeat:no-repeat;}
#unity-nav4.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -291px -170px; background-repeat:no-repeat;}
#unity-nav5.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -413px -170px; background-repeat:no-repeat;}
#unity-nav6.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -538px -170px; background-repeat:no-repeat;}
#unity-nav7.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -662px -170px; background-repeat:no-repeat;}
#unity-nav8.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -786px -170px; background-repeat:no-repeat;}
#unity-nav9.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -910px -170px; background-repeat:no-repeat;}

#unityETC-sprite.FRA { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -364px -120px no-repeat; }

#unity-nav10.FRA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_French.png) -364px -290px; background-repeat:no-repeat;}

/*--- Sprite Nav (German) ---*/
#unity-sprite.GER { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png); }

#unity-nav1.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) 0px -170px; background-repeat:no-repeat;}
#unity-nav2.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -43px -170px; background-repeat:no-repeat;}
#unity-nav3.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -167px -170px; background-repeat:no-repeat;}
#unity-nav4.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -291px -170px; background-repeat:no-repeat;}
#unity-nav5.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -413px -170px; background-repeat:no-repeat;}
#unity-nav6.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -538px -170px; background-repeat:no-repeat;}
#unity-nav7.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -662px -170px; background-repeat:no-repeat;}
#unity-nav8.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -786px -170px; background-repeat:no-repeat;}
#unity-nav9.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -910px -170px; background-repeat:no-repeat;}

#unityETC-sprite.GER { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -364px -120px no-repeat; }

#unity-nav10.GER a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_German.png) -364px -290px; background-repeat:no-repeat;}

/*--- Sprite Nav (Italian) ---*/
#unity-sprite.ITL { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png); }

#unity-nav1.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) 0px -170px; background-repeat:no-repeat;}
#unity-nav2.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -43px -170px; background-repeat:no-repeat;}
#unity-nav3.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -167px -170px; background-repeat:no-repeat;}
#unity-nav4.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -291px -170px; background-repeat:no-repeat;}
#unity-nav5.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -413px -170px; background-repeat:no-repeat;}
#unity-nav6.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -538px -170px; background-repeat:no-repeat;}
#unity-nav7.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -662px -170px; background-repeat:no-repeat;}
#unity-nav8.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -786px -170px; background-repeat:no-repeat;}
#unity-nav9.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -910px -170px; background-repeat:no-repeat;}

#unityETC-sprite.ITL { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -364px -120px no-repeat; }

#unity-nav10.ITL a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Italian.png) -364px -290px; background-repeat:no-repeat;}

/*--- Sprite Nav (Portuguese) ---*/
#unity-sprite.PRT { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png); }

#unity-nav1.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) 0px -170px; background-repeat:no-repeat;}
#unity-nav2.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -43px -170px; background-repeat:no-repeat;}
#unity-nav3.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -167px -170px; background-repeat:no-repeat;}
#unity-nav4.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -291px -170px; background-repeat:no-repeat;}
#unity-nav5.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -413px -170px; background-repeat:no-repeat;}
#unity-nav6.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -538px -170px; background-repeat:no-repeat;}
#unity-nav7.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -662px -170px; background-repeat:no-repeat;}
#unity-nav8.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -786px -170px; background-repeat:no-repeat;}
#unity-nav9.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -910px -170px; background-repeat:no-repeat;}

#unityETC-sprite.PRT { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -364px -120px no-repeat; }

#unity-nav10.PRT a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Portuguese.png) -364px -290px; background-repeat:no-repeat;}

/*--- Sprite Nav (Spanish) ---*/
#unity-sprite.SPA { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png); }

#unity-nav1.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) 0px -170px; background-repeat:no-repeat;}
#unity-nav2.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -43px -170px; background-repeat:no-repeat;}
#unity-nav3.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -167px -170px; background-repeat:no-repeat;}
#unity-nav4.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -291px -170px; background-repeat:no-repeat;}
#unity-nav5.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -413px -170px; background-repeat:no-repeat;}
#unity-nav6.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -538px -170px; background-repeat:no-repeat;}
#unity-nav7.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -662px -170px; background-repeat:no-repeat;}
#unity-nav8.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -786px -170px; background-repeat:no-repeat;}
#unity-nav9.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -910px -170px; background-repeat:no-repeat;}

#unityETC-sprite.SPA { background: url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -341px -120px no-repeat; }

#unity-nav10.SPA a:hover {background: transparent url(http://web.archive.org/web/20120207003733im_/http://www.chaoticgame.com/Images/unity-sprite-nav_Spanish.png) -341px -290px; background-repeat:no-repeat;}

/*-------------- Footer --------------*/
/*------------------------------------------------------*/

.footer-wrap p, .footer-wrap div, .footer-wrap li {
  font-size: 10px !important;
  line-height: 14px !important;
}
.footer-wrap {
  max-width: 943px; height:54px;
  margin: 0 auto;
  clear: both;
}
.footer-repeat-x {
    width: 100%; height:54px;
    background-image:url(../img/base/footer-repeat-x.gif);
    background-position: left top;
    background-repeat:repeat-x;
}
.footer-left {
    width: 100%; height:54px;
    background-image:url(../img/base/footer-left.gif);
    background-position: left top;
    background-repeat:no-repeat;
}
.footer-right {
    width: 100%; height:54px;
    background-image:url(../img/base/footer-right.gif);
    background-position: right top;
    background-repeat:no-repeat;
}
.footer-text  {
    width:100%; height:54px;
    margin:0px auto;
    float:left; clear: both;
}
.footer-search  {
    width:211px; height:52px;
    color: #FFFFFF; text-align: center;
    padding-top:2px; float: left;
}
.footer-nav  {
    width:492px; /*height:27px; */line-height:14px;
    color: #FFFFFF; padding-top:27px; text-align: center;
    margin:0 6px 0 6px; float:left;
}
.footer-nav a:link, .footer-nav a:visited {
    color:#FFFFFF;
    text-decoration: underline;
}
.footer-nav a:hover, .footer-nav a:active {
    color:#99ffff;
    text-decoration: underline;
}
.footer-language  {
    width:205px; height:50px;
    color: #FFFFFF; text-align: center;
    padding-top:6px; float: left;
}
.copyright {
/*    width: 955px;*/
    margin: 0 auto; text-align:center;
/*    padding:10px;*/
}
.copyright a:link, .copyright a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.copyright a:hover, .copyright a:active {
    color:#FFFFFF;
    text-decoration: underline;
}

/*-------------- Content Pod --------------*/
/*------------------------------------------------------*/
.index-posted-by-wrap{
  margin:46px 10px 0 15px;
}
.posted-heading{color:#36a8ff; margin-left:20px; float:left;}
.poster-name{color:#c5ecff; padding-left:5px; float:left;}
.date{color:#36a8ff; float:right; margin-right:75px;}

.MRposted-heading{color:#36a8ff; float:left;}
.MRposter-name{color:#c5ecff; padding-left:5px; float:left;}
.MRdate{color:#36a8ff; float:right;}

.posted-heading2{margin-left:20px; float:right;}
.poster-name2{padding-left:5px; padding-right:10px; float:right;}
.divide{padding-left:10px; float:left;}
.date2{float:right;}

.content-heading-wrap{
  width:100%; height:70px;
  float:left; clear:both;
  overflow:hidden;
}
.content-heading{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:20px; padding:10px; padding-left:25px;
  line-height:50px;
}
.content-heading2{
  margin-left:-300px;
}
.content-heading-base-repeat-x{
  width:100%; height:70px;
  background-image:url(../img/base/content-heading-base-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left; clear:both;
}
.content-heading-base-repeat-x2{
  width:50%; height:70px;
  background-image:url(../img/base/content-heading-base-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left;
}
.heading-left-repeat-x{
  width:35%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-left-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left;
}
.heading-left{
  width:100%; height:70px;
  background-image:url(../img/base/content-heading-left.jpg);
  background-position:top left;
  background-repeat:no-repeat;
}
.heading-left-repeat-x2{
  width:90%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-left-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:right;
}
.heading-left-repeat-x3{
  width:80%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-left-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:right;
}
.heading-left2{
  width:35%; height:70px;
  background-image:url(../img/base/content-heading-left.gif);
  background-position:top left;
  background-repeat:no-repeat;
  float:left;
}
.heading-center-rises{
  width:50%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-left-rise.jpg);
  background-position:top left;
  background-repeat:no-repeat;
  float:left;
}
.heading-center-rises4{
  width:100%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-left-rise.jpg);
  background-position:top left;
  background-repeat:no-repeat;
  float:left;
}
.heading-center-rises2{
  width:100%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-right-rise.jpg);
  background-position:top left;
  background-repeat:no-repeat;
  float:left;
}
.heading-center-rises3{
  width:100%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-right-rise.jpg);
  background-position:top right;
  background-repeat:no-repeat;
  float:left;
}
.heading-right-repeat-x{
  width:15%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-right-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:right;
}
.heading-right{
  width:100%; height:70px;
  background-image:url(../img/base/content-heading-right.jpg);
  background-position:top right;
  background-repeat:no-repeat;
}
.heading-right-repeat-x2{
  width:85%; height:70px; line-height:70px; margin-left:-3px;
  background-image:url(../img/base/content-heading-right-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left;
}
.heading-right-repeat-x3{
  width:80%; height:70px; line-height:70px; margin-left:-3px;
  background-image:url(../img/base/content-heading-right-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left;
}
.heading-right-repeat-x4{
  width:85%; height:70px; line-height:70px;
  background-image:url(../img/base/content-heading-right-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left;
}
.heading-right2{
  width:15%; height:70px;
  background-image:url(../img/base/content-heading-right.gif);
  background-position:top right;
  background-repeat:no-repeat;
  float:right;
}

.content-area-inner-space {
  margin: 0 8px 0 10px;
}

.content-area-repeat-xy2{
  width:100%;
  float:left; clear:both;
}
.content-area-repeat-xy{
  width:100%;
  background-color:#292929;
  float:left; clear:both;
}
.content-area-left-repeat-y{
  width:100%;
  background-image:url(../img/base/content-area-left-repeat-y.jpg);
  background-position:top left;
  background-repeat:repeat-y;
  float:left; clear:both;
}
.content-area-right-repeat-y{
  width:100%;
  background-image:url(../img/base/content-area-right-repeat-y.jpg);
  background-position:top right;
  background-repeat:repeat-y;
  float:left; clear:both;
}
.content-area-top-repeat-x{
  width:100%;
  background-image:url(../img/base/content-area-top-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left; clear:both;
}
.content-area-top-left{
  width:100%;
  background-image:url(../img/base/content-top-left.jpg);
  background-position:top left;
  background-repeat:no-repeat;
  float:left; clear:both;
}
.content-area-top-right{
  width:100%;
  background-image:url(../img/base/content-top-right.jpg);
  background-position:top right;
  background-repeat:no-repeat;
  float:left; clear:both;
}
.content-area-base-repeat-x{
  width:100%; height:22px;
  background-image:url(../img/base/content-base-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left; clear:both;
}
.content-area-base-left{
  width:100%; height:22px;
  background-image:url(../img/base/content-base-left.jpg);
  background-position:top left;
  background-repeat:no-repeat;
  float:left; clear:both;
}
.content-area-base-right{
  width:100%; height:22px;
  background-image:url(../img/base/content-base-right.jpg);
  background-position:top right;
  background-repeat:no-repeat;
  float:left; clear:both;
}
.detailed-btm-wrap{
  width:100%; height:22px;
  clear:both;
  margin-bottom:5px;
}
.content-btm-wrap{
  width:100%; height:22px;
  clear:both;
}
.content-left-btm-repeat-x{
  width:98%; height:22px;
  background-image:url(../img/base/content-btm-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:right; clear:both;
}
.content-right-btm-repeat-x{
  width:98%; height:22px;
  background-image:url(../img/base/content-btm-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left; clear:both;
}
.content-left-btm-repeat-x2{
  width:97%; height:22px;
  background-image:url(../img/base/content-btm-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  margin-right:-1px;
  float:right; clear:both;
}
.content-right-btm-repeat-x2{
  width:97%; height:22px;
  background-image:url(../img/base/content-btm-repeat-x.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  float:left; clear:both;
}
.content-area-btm-left{
  width:51%; height:22px;
  background-image:url(../img/base/content-btm-left.gif);
  background-position:left top;
  background-repeat:no-repeat;
  float:left;
}
.content-area-btm-right{
  width:49%; height:22px;
  background-image: url(../img/base/content-btm-right.gif);
  background-position:right top;
  background-repeat:no-repeat;
  float:right;
}

/*------------ Ads Pod ------------*/

.adPod-top-wrap{
  height:26px; width:100%;
  float:left; clear:both;
}
.adPod-topleft{
  width:60%; height:26px;
  background: url(../img/base/adsPod-topLeft.gif) top left no-repeat;
  float:left;
}
.adPod-topright{
  width:40%; height:26px;
  background: url(../img/base/adsPod-topRight.gif) top right no-repeat;
  float:right;
}
.videoAdPod-topleft{
  width:60%; height:26px;
  background: url(../img/base/videoPod-topLeft.gif) top left no-repeat;
  float:left;
}
.videoAdPod-topright{
  width:40%; height:26px;
  background: url(../img/base/videoPod-topRight.gif) top right no-repeat;
  float:right;
}
.videoAdPod-topLeft-repeat-x{
  width:80%; height:26px;
  background: url(../img/base/videoPod-repeat-x.gif) top right repeat-x;
  float:right;
}
.videoAdPod-topRight-repeat-x{
  width:80%; height:26px;
  background: url(../img/base/videoPod-repeat-x.gif) top left repeat-x;
  float:left; margin-left:-5px;
}
.adPod-topLeft-repeat-x{
  width:80%; height:26px;
  background: url(../img/base/adsPod-top.gif) top right repeat-x;
  float:right;
}
.adPod-topRight-repeat-x2{
  width:95%; height:26px;
  background: url(../img/base/adsPod-top.gif) top left repeat-x;
  float:left; margin-left:-5px;
}
.adPod-topLeft-repeat-x2{
  width:95%; height:26px;
  background: url(../img/base/adsPod-top.gif) top right repeat-x;
  float:right;
}
.adPod-topRight-repeat-x{
  width:80%; height:26px;
  background: url(../img/base/adsPod-top.gif) top left repeat-x;
  float:left; margin-left:-5px;
}
.adsBody-wrap{
  width:100%;
  background-color:#141414;
  float:left; clear:both;
}
.adPod-left-repeat-y{
  width:100%;
  background: url(../img/base/adsPod-left.gif) top left repeat-y;
  float:left;
}
.adPod-right-repeat-y{
  width:100%;
  background: url(../img/base/adsPod-right.gif) top right repeat-y;
  float:right;
}
.adPod-btm-wrap{
  height:25px; width:100%;
  float:left; clear:both;
}
.adPod-btmleft{
  width:60%; height:26px;
  background: url(../img/base/adsPod-btmLeft.gif) top left no-repeat;
  float:left;
}
.adPod-btmright{
  width:40%; height:26px;
  background: url(../img/base/adsPod-btmRight.gif) top right no-repeat;
  float:right;
}
.adPod-btmLeft-repeat-x{
  width:80%; height:26px;
  background: url(../img/base/adsPod-btm.gif) top right repeat-x;
  float:right;
}
.adPod-btmRight-repeat-x{
  width:80%; height:26px;
  background: url(../img/base/adsPod-btm.gif) top left repeat-x;
  float:left; margin-left:-5px;
}
.adsBody-margin{margin:0 16px 0 14px;}
}
