@import '../base';

.portal {
/* portal css */
.navbar h1 {
    font-size: 16px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a, .navbar .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .navbar .dropdown:hover .dropbtn {
    background-color: red;
}

.navbar li.dropdown {
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background-color: #333;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*.navbar .dropdown-content a:hover {
    background-color: #f1f1f1
}*/

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.magnifying-glass {
    cursor: pointer;
    transition: color .2s;
    z-index: 1;
    vertical-align: middle;
    fill: currentColor;
    height: 18px;
    min-width: 18px;
    width: 18px;
}

.search .results div {
    padding-bottom: 10px;
}

.search .results a {
    font-size: 16px;
    line-height: 20px;
}

.entry {
  font-size: 1.2em;

  .title {
      font-weight: bold;
      font-size: 16px;
  }

  .left {
      float: left;
      width: 100px;
  }

  .right {
      float: right;
      width: 86%;
  }

  .left .title {
      text-align: left;
      padding-bottom: 10px;
  }

  .icon14, .icon16,
  .icon20, .icon24 {
      vertical-align: middle;
  }

  .entry_content {
    min-height: 550px;
    height: calc(100vh - 300px);
    overflow-y: auto;
    width: 100%;
    position: relative;
    // width: 100%;

    .entry_splash {
      padding-bottom: 4px;
      img {
        max-width: 100%;
      }
    //   position: relative;
    //   z-index: -1;

      .arrow {
        position: absolute;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        width: 100%;
        top: 95%;
      }
    }

    .entry_body {
      position: relative;
      max-width: 100%;
      padding-bottom: 4px;
      display: flex;
      flex-wrap: wrap;

      hr {
        margin: 0px;
      }

      .title {
        min-width: 100%;
      }

      .title hr {
        margin-top: 8px;
      }

      .column > div,
      .nocolumn > div {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      .column:nth-child(2) {
        flex-grow: 1;
        text-align: left;
        min-width: 0;
        width: 30%;
      }

      .column:last-child {
        flex-grow: 2;
        min-width: 0;
        flex: 60%;
        border-left: 1px solid white;
      }

      .ability {
        white-space: pre-line;
        word-wrap: break-all;
      }

      div {
        white-space: pre-line;
      }
    }

    // /* width */
    &::-webkit-scrollbar {
        width: 1px;
    }

    // /* Track */
    // ::-webkit-scrollbar-track {
    //     background: #f1f1f1;
    // }

    // /* Handle */
    // ::-webkit-scrollbar-thumb {
    //     background: #888;
    // }

    // /* Handle on hover */
    // ::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
  }

  .cat_title {
     text-align: left;
     background-color: #1a1a1a;
     font-weight: bold;
     font-size: 16px;
     padding-top: 1px;
     padding-left: 4px;
  }

  /* height is 118px */
  .entry_nav {
    background-color: #1a1a1a;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
    .nav_item {
      display: inline-block;
      margin-right: 3px;
      margin-left: 3px;

      img {
        min-width: 96px;
        height: 100px;
      }
    }
  }

  &.base_path {
    .entry_nav, .cat_title {
      background-color: inherit;
    }
    .cat_title {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    .entry_nav {
      overflow-y: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;

      .nav_item {
        overflow-wrap: break-word;
        margin: 3px;
        max-width: 106px;
      }
    }
  }

  /* The Modal (background) */
  .modal {
    &.hidden {
      display: none;
    }
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    // width: 80%;
    max-height: calc(100vh - 100px);
    max-width: 90vw;
  }

  /* Caption of Modal Image */
  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
    position: fixed;
    top: 35px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/*end entry*/}

/*end portal css*/}
