@import '../base';

.lore {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;

    .block, .title {
        margin-top: 6px;
        text-align: center;
        font-weight: bold;
    }

    .title {
        font-size: 18px;
    }

    .block {
        font-size: 24px;
    }

    div {
        margin: 0 0 6px;
        line-height: 22px !important;
    }

    .set {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.donate {
	margin-bottom: 6px;
}

.donate form a {
	border-bottom: none;
}

/* With Love */
@-webkit-keyframes love {
    to { -webkit-transform: scale(1.1); }
}

@-moz-keyframes love {
    to { -moz-transform: scale(1.1); }
}

@keyframes love {
    to { transform: scale(1.1); }
}

@media only screen and (min-width: 975px) {
.with-love {
    color: #333;
}
}

.with-love span,
.with-love div {
    font-size: 14px !important;
    line-height: 18px !important;
}

.with-love div {
    padding-bottom: 4px;
}

.with-love .heart {
    font-size: 1.4em;
    color: #ff79c6;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

.with-love a {
    text-decoration: none;
    border-bottom: 1px dotted;
}
