.icon16 {
    height: 16px;
}

.icon20 {
    height: 20px;
}

.icon24 {
    height: 24px;
}

.card_img {
    width: 250px;
    height: 350px;
}

.card_img img {
   max-width: 250px;
   max-height: 350px;
}

.name {
    font-size: 14px;
    /* margin-bottom: 2px; */
    padding-bottom: 4px;
    display: inline-block;
}


.thumb {
    width: 100px;
    height: 98px;
}

.SearchForm {
    text-align: left;
}

.brainwashed {
    background-color: #dcdddf;
    color: black !important;
}

.flavortext {
    font-style: italic;
}

.disciplines input {
    width: 30px;
    height: 14px;
}
