.card {
    text-align: left;
    display: flex;
}

.card .left {
    vertical-align: text-top;
    float: left;
    width: 220px;
}

.card .right {
    float: left;
    width: calc(100% - (100px + 230px));
    border-left: 1px solid white;
    padding-left: 10px;
}

.card .icon14, .card .icon16,
.card .icon20, .card .icon24 {
    vertical-align: middle;
}

.icon14 {
    height: 14px;
    padding-bottom: 2px;
}

.icon16 {
    height: 16px;
}

.icon20 {
    height: 20px;
}

.icon24 {
    height: 24px;
}

.card_img {
    width: 250px;
    height: 350px;
}

.card_img img {
   max-width: 250px;
   max-height: 350px;
}

.bigger {
    font-size: 14px;
}

.thumb {
    width: 100px;
    height: 98px;
}

.SearchForm {
    text-align: left;
}

.brainwashed {
    background-color: #dcdddf;
    color: black !important;
}

.flavortext {
    font-style: italic;
}

.disciplines input {
    width: 30px;
    height: 14px;
}
