.icon14 {
    height: 14px;
    padding-bottom: 2px;
}

.icon16 {
    height: 16px;
}

.icon20 {
    height: 20px;
}

.icon24 {
    height: 24px;
}

.bigger {
    font-size: 14px;
}

.name {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.name .subname::before {
    content: "\a  ";
    white-space: pre;
}

.name .subname {
    font-size: 13px;
    padding-bottom: 4px;
    display: inherit;
}

#player {
    text-align: center;
}
