@import '../base';

.collection {
  @media only screen and (max-width: 975px) {
    padding-left: 5px;

    .card.creature {
      .text_brainwashed {
        font-weight: bold;
      }

      .right {
        white-space: pre-line;
      }
    }
  }

  @media only screen and (min-width: 975px) {

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    > .left {
      font-family: Roboto, Arial, sans-serif;
      float: left;
      width: 30%;
    }

    > .right {
      font-family: Roboto, Arial, sans-serif;
      float: right;
      width: 70%;
    }

    #side-menu {
      position: relative;
    }

    #buttons {
      border-radius: 5px;
      border-color: transparent;
      text-align: center;
      margin: 0 0 2% 1%;
      outline: none;
    }

    input[type="button"], .button {
      border-radius: 5px;
      border-color: transparent;
      text-align: center;
      outline: none;
    }

    input[type="text"] {
      margin-bottom: 2px;
      border-radius: 5px;
      border-color: transparent;
      text-align: center;
      outline: none;
    }

    input[type="text"],
    .centeredCheckBox {
      width: 220px;
    }

    .text-entry {

      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */

      input:focus {
        outline: none;
      }
    }

    .card {
      text-align: left;
      display: flex;
      border: 1px solid #AEAEAE;

      .left,
      .right,
      .stats {
        padding-top: 4px;
      }

      .bigger {
        text-align: center;
        font-weight: bold;
      }

      .energy {
        display: flex;
        width: 20px !important;
      }

      .left {
        vertical-align: text-top;
        float: left;
        width: 210px;
        padding-left: 4px;
      }

      .right {
        float: left;
        width: calc(100% - (100px + 4px + 4px + 4px + 210px));
        border-left: 2px solid #AEAEAE;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 6px;
        white-space: pre-line;
      }
    }

    .creature .right {
      width: calc(100% - (100px + 4px + 4px + 4px + 210px + 40px + 4px));
    }

    .creature .stats {
      vertical-align: text-top;
      float: left;
      text-align: right;
      width: 40px;
    }

    .SearchForm {
      padding-top: 3px;
      font-family: Roboto, Arial, sans-serif;
    }

    .searchName {
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
      padding: 2%;
      font-size: 16pt;
    }

    .centeredCheckBox {
      margin: 0 auto;
      text-align: left;
    }

    .centeredSpacing {
      display: flex;
      justify-content: space-between;
    }

    .setBox {
      width: 80%;
      float: right;
    }

    #sets {
      width: 80%;
    }

    .centeredButtons {
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
    }

    #search {
      width: 25%;
      margin: 2%;
      border-radius: 5px;
      border-color: transparent;
      text-align: center;
    }

    .minMax {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 50%;
      text-align: right;
    }

    .text_brainwashed {
      display: none;
    }

    .brainwashed {
      border-radius: 3px;
      background-color: #dcdddf;
      color: black !important;
    }

    .flavortext,
    .chieftain {
      font-style: italic;
    }

    .mull input {
      margin-left: 0px;
      margin-top: 1px;
    }

    .mull input,
    .Collapsible__contentInner input {
      vertical-align: middle;
    }

    .Collapsible__contentInner
    .centeredCheckBox {
      width: 50%;
    }

    .tribes {
      width: 96%;
      text-align: center;
    }

    .disciplines {
      text-align: center;
    }

    .and {
      text-align: center;
      vertical-align: text-bottom;
      width: 15%;
      border-radius: 5px;
      border-color: transparent;
      margin: 2%;
    }

  }
  /* desktop */

  .disciplines input {
    width: 22px;
    height: 14px;
    text-align: center;
    margin-top: 2px;
  }

  .mcbp input {
    width: 24px;
    height: 14px;
    padding: unset;
    text-align: center;
    margin-top: 2px;
  }

  .card .icon14, .card .icon16,
  .card .icon20, .card .icon24 {
    vertical-align: middle;
  }

  .thumb {
    width: 100px;
    height: 98px;
  }

  .card .thumb {
    float: left;
  }

  .attack .bp {
    vertical-align: middle;
  }

  .Collapsible {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 96%;
  }

  .Collapsible__trigger {
    background-color: #333;
    display: block;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 5px;
    font-weight: bold;
    white-space: pre;
  }

  .Collapsible__trigger:hover {
    background-color: red;
  }

  .Collapsible__trigger:after {
    content: '^';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 400ms;
  }

  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
    right: 5px;
    top: 5px;
  }


  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }

  .Collapsible__contentOuter {
    // width: 96%;
  }

  .Collapsible__contentInner {
    // width: 96%;
    margin-top: 5px;
  }

  .card_img {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: -11px;
  }

  .card_img .hidden {
    display: none;
    max-height: 0;
  }

  .card_img img {
    max-width: 250px;
    max-height: 350px;
  }

  .entries {

    input[type="button"] {
      margin: 0 0 2% 1%;
    }

    text-align: left;
    width: 100%;
  }

  .list-nav-top {
    display: flex;
  }

  .fullcard {
    width: 250px;
    height: 350px;
    img {
      max-width: 250px;
      max-height: 350px;
    }
  }

  .location .fullcard {
    width: 350px;
    height: 250px;
    img {
      // transform-origin: 70% 50%;
      // transform: rotate(90deg);
      max-width: 350px;
      max-height: 250px;
    }
  }

  hr {
    width: 96%;
    margin-inline-start: 0;
  }


  .none {
    display: inline;

    > span {
      top: -3px;
      position: relative;
    }
  }

  label {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
  }

}

// Collection Specific Styling
